{% extends 'base.html.twig' %}


{% block stylesheets %}
   <link rel="stylesheet" href="{{ asset('css/home.css') }}">
{% endblock %}

{% block title %}Accueil{% endblock %}


{% block body %}
  
<main>
    {# {% if app.user %} #}
    {# <div class="userIdentifier"> #}
    {#     Vous êtes connecté en tant que {{ app.user.firstname}} #}
    {#     {# {{ app.user.userIdentifier }} #} 
    {# </div> 
{% endif %}#}
</main>

    <div class="best_seller">
        <h5>Découvrez nos meilleures ventes</h5>   
    </di>


    <div class="all_product">
        <a href="{{ path('home-product') }}">Voir Tous les produits</a> 
    </div>

{% endblock %}
