{% extends 'base.html.twig' %}


{% block stylesheets %}
   <link rel="stylesheet" href="{{ asset('css/home.css') }}">
{% endblock %}

{% block title %}Accueil{% endblock %}


{% block body %}
  

    <div class="best_seller">
        <h5>Découvrez nos meilleures ventes</h5>
           {% for product in productBest %} 
                {{ productBest.title }}
           {% endfor %}
    </di>




    <div class="all_product">
        <a href="{{ path('home-product') }}">Voir Tous les produits</a> 
    </div>

{% endblock %}

