{% extends 'base.html.twig' %}


{% block stylesheets %}
   <link rel="stylesheet" href="{{ asset('css/home.css') }}">
{% endblock %}

{% block title %}Crossboard Librairie{% endblock %}


{% block body %}
  
<main>
</main>

    <div class="best_seller">
        <h5>Découvrez nos meilleures ventes</h5>
        {# <div class="list"> #}
        {#     <div class="row row-cols-1 row-cols-md-2 g-4"> #}
        {#     {# {% for product in product %} #} 
        {#         <div class="col"> #}
        {#             <div class="card"> #}
        {#                     {# <img src="{{ asset('/upload/images/products/' ~ product.illustration) }}" class="card-img-top" alt="..."> #} 
        {#                     <div class="card-body">
        {#                         <h5 class="card-title">Card title</h5> #}
        {#                             <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content</p> #}
        {#                     </div> #}
        {#             </div> #}
        {#         </div> #}
        {#     {# {% endfor %} #} 
        {#     </div> #}
        {# </div> #}
    </div>


    <div class="all_product">
        <a href="{{ path('app_product') }}">Voir Tous les produits</a> 
    </div>

{% endblock %}
