{% extends 'base.html.twig' %}

{% block title %}Produits{% endblock %}

{% block body %}



<main class="container">
    <section class="row">
        <div class="col-12">
            <h4 class="text-center">Les produits</h4>
        </div>

        {% for product in product %}
            <div class="col-2 mb-3 g-4">
                <article class="card h-100" style="width: 10em;">
                <img src="{{ asset('/products/' ~ product.featuredImage) }}" class="card-img-top"  height="150" alt="..." >
                    <div class="card-body">
                       
                            <h5 class="card-title text-decoration-none"><a href="{{ path('home-details', {"id": product.id }) }}">{{ product.title }}</a></h5>
                            <p class="card-text ">{{ product.author }}</p>
                            
                    </div>
                </article>
            </div>

        {% endfor %} 
    </section>
</main>  

{% endblock %}

