
{% block stylesheets %}
<link rel="stylesheet" href="{{ asset('css/home.css') }}">
{% endblock %}


{% block body %}






<div class="container">
    <footer class="">
        <div class="info">

        </div>

    <div class="footer2">
        <span class="copyright">© {{ 'now'|date('Y') }} </span>
        <span> Crossboard Librairie</span>
        <span>Tous droits résérvés</span>

    </div>
</footer>
</div>


{% endblock %}