.registration h1{
    text-align: center;
    font-size: 1.5em;
    margin-top:1.2em;
    background-color: aliceblue;
    width: 93%;
    margin-left:2.2em;
    

}
body{
    background-image: url(../upload/images/mesImages/femme-livre.webp);
    background-repeat: no-repeat;
    background-position:center;
    background-size: cover;
}


.registration{
    border: 1px solid black;
    width:75%;
    padding-left:25px;
    padding-right:25px;
    margin-left:10em;
    border-radius: 12px;
    background-color: aliceblue;
    opacity:0.9;
    margin-top: 2em;

}


.userIdentifier{
    background-color: aqua;
}


.connexion{
    border: 1px solid black;
    width:50%;
    padding:30px;
    margin-left:25em;
    border-radius: 12px;
    background-color: aliceblue;
    opacity:0.9; 
    margin-top: 4em;
}


.connexion h1{
    text-align: center;
    font-size: 1.5em;
    padding:2px;
    background-color: aliceblue;

}

.register_title{
    text-align: center;
    font-size: 1em;
    padding:2px;
    background-color: aliceblue;

}

.connexion button{
    margin-left:18em;
   
}

.lien_register{
    font-size: 0.5em;
    color: rgb(145, 86, 86);
    text-align: center;
    padding-top: 10px;

}

.registration button {
    margin-left:32em;
    margin-top: 3em;
    margin-bottom: 2em;
}