{% extends 'base.html.twig' %}

{% block title %}Hello RayonController!{% endblock %}

{% block body %}

<div class="row">
{% for products in rayon %}
    

<div class="col-3 mb-3 mt-5 ms-5">
    <div class="card h-100 p-5" style="width: 25em;">
        <img src="https://www.artistikrezo.com/wp-content/uploads/2020/03/Top-10-des-livres-a%CC%80-lire-a%CC%80-tout-prix-e1584548393404.png"
            class="card-img-top"  height="200" alt="..." >
            <div class="card-body-product">
                <h5 class="card-title">
              <a href="{{ path('home-rayon' , {'id':products.id}) }}">{{ products.name }}</a></h5>
            </div>
    </div>
</div>
    
   
{% endfor %}
    
</div>
{% endblock %}
