{% extends 'base.html.twig' %}

{% block title %}Hello RayonController!{% endblock %}

{% block body %}

<div class="row">
{% for products in rayon %}
    

<div class="col-3 mb-3 mt-5 ms-5">
    <div class="card h-100 p-5" style="width: 20em;">
        <img src="https://s26162.pcdn.co/wp-content/uploads/2022/09/books-g1ac3a4648_1920.jpg"
            class="card-img-top"  height="100" alt="..." >
            <div class="card-body-product">
                <h5 class="card-title">
              <a href="{{ path('home-rayon' , {'id':products.id}) }}">{{ products.name }}</a></h5>
            </div>
    </div>
</div>
    
   
{% endfor %}
    
</div>
{% endblock %}
