{% extends 'base.html.twig' %}

{% block title %}Edit Lignecommande{% endblock %}

{% block body %}
    <h1>Edit Lignecommande</h1>

    {{ include('home/_form.html.twig', {'button_label': 'Update'}) }}

     <a href="{{ path('home-panier') }}">back to list</a>

    {# {{ include('lignecommande/_delete_form.html.twig') }} #}
{% endblock %}
