{% extends 'base.html.twig' %}

{% block title %}Crossboard Produit{% endblock %}

{% block body %}




<div class="row row-cols-1 row-cols-md-3 g-4">
    {% for product in product %}
            <div class="card h-20" style="width: 12em;">
                <img src="{{ asset('/upload/images/products/' ~ product.illustration) }}" class="card-img-top style="width: 5em;" alt="..." ">
                <a href="{{ path('single_product', {'id':product.id}) }}">
                    <div class="card-body"> 
                        <h5 class="card-title">{{ product.title }}</h5> 
                    </div>  
            </div> 
    {% endfor %}   
</div>

{% endblock %}

