{% extends 'base.html.twig' %}

{% block title %}Compte client{% endblock %}

        {% block body %}
    

        {% for user in users %}

            <div class="row">
              <div class="col-sm-6">
                <div class="card">
                  <div class="card-body">
                    <h5 class="card-title">Mes informations personnelles</h5>
                    <p class="card-text">Pour voir les infomations ainsi que les modifiers veuillez suivre ce lien.</p>
                    <a href="{{ path('client_show', {'id': user.id}) }}" class="btn btn-primary">Mon compte</a>
                  </div>
                </div>
              </div>
              <div class="col-sm-6">
                <div class="card">
                  <div class="card-body">
                    <h5 class="card-title">Historique de mes commandes</h5>
                    <p class="card-text">Pour voir les hitoriques de vos commandes veuillez suivre ce lien.</p>
                    <a href="" class="btn btn-primary">Mes commandes</a>
                  </div>
                </div>
              </div>
            </div>


        {% endfor %}
{% endblock %}
