{% extends 'base.html.twig' %}

{% block title %}Erreur 500{% endblock %}
{% block body %}

            <div class="card">
                <div class="card-body">
                    <h1>Une erreur s'est glissée ici</h1>
                    <p>Il me semble que le server ne soit pas trouvé ! merci de démarrer votre server</p>
                    <p>Une erreur s'est glissée ici</p>
                </div>
            </div>
   
   
  
{% endblock %}