{% extends 'base.html.twig' %}

{% block title %}Erreur Server{% endblock %}
{% block body %}

            <div class="card">
                <div class="card-body">
                    <h1>Server non trouvé</h1>
                    <p>Il me semble que le server ne soit pas trouvé ! merci de démarrer votre server</p>
                </div>
            </div>
   
   
  
{% endblock %}